
<%= flash[:error] %>
<ul>
  <% @student.errors.full_messages.each do |msg| %>
    <li><%= msg %> </li>
  <% end %>
</ul>

<h1>Students#show</h1>
Name:
<%= @student.name %>
Program:
<%= link_to @student.program.name, program_path(@student.program)%>
<%= link_to "Edit", edit_student_path(@student) %>
<%= link_to "Home", root_path %>
<%= link_to "del", student_path(@student), :method => :delete, :confirm => "sure?" %>